export(example.connection)
export(get.adj.daily.close)
export(get.coas.and.descriptions)
export(get.currency.rates)
export(get.current.betas)
export(get.current.ratio)
export(get.description.for.coa)
export(get.dividends)
export(get.dividends.payable)
export(get.earnings.surprise)
export(get.employees)
export(get.eps)
export(get.expense.ratio.total.percentage)
export(get.gross.profit)
export(get.gross.revenue)
export(get.holidays)
export(get.info.from.qad)
export(get.info.from.rkd)
export(get.licensed.tables)
export(get.market.cap)
export(get.net.profit.margin)
export(get.net.sales)
export(get.operating.margin)
export(get.part.time.employees)
export(get.pre.tax.margin)
export(get.qad.connection)
export(get.quick.ratio)
export(get.reported.operating.profit)
export(get.reported.return.on.assets)
export(get.reported.return.on.equity)
export(get.revenue)
export(get.seccodes.for.ciks)
export(get.seccodes.for.rics)
export(get.sector.ibes)
export(get.share.count)
export(get.tangible.book.value.per.share)
export(get.tier.1.capital.percentage)
export(get.total.assets)
export(get.total.cash.dividends.paid)
export(get.total.debt)
export(get.total.equity)
export(get.total.liabilities)
export(get.total.revenue)
export(get.trade.dates)
export(get.trading.dates.from.db)
export(get.unadj.daily.close)
export(get.underwriting.profit)
export(set.qad.connection)
import(RODBC)
import(reshape2)
import(sqldf)
